// -- HEADER -- 


.logo{ // Logo
    width: 100px;
}


.logo img{ // Logo IMG
    width: 100%;
    height: 100%;
}

// Lists

ul{
    list-style: none;
}

// Navbar
.navbar{
    gap: 10px;
    color: #ffffff;
}